# Mage Project Name (This must match the folder name of the project containing all mage files)
PROJECT_NAME=mage

# GCP
GCP_CREDENTIALS=credentials/gcp-credentials.json
GCP_PROJECT_ID=ncaa-d1-baseball-stats-project
GCP_PROJECT_NAME=ncaa-d1-baseball-stats-project
GCP_REGION=us-west1
GCP_ZONE=us-west1-a
GCP_SERVICE_ACCOUNT_NAME=ncaa-d1-baseball-stats-service

#GCS
GCS_BUCKET_NAME=ncaa_d1_baseball_stats_bucket

#BigQuery
BIQ_QUERY_DATASET_STG=ncaa_d1_baseball_stats_stg
BIQ_QUERY_DATASET_PROD=ncaa_d1_baseball_stats_prod
BIQ_QUERY_TABLE_NAME_STG=ncaa_d1_baseball_batting_stats

#VM

GCP_VM_NAME=ncaa-d1-baseball-stats-vm
GCP_VM_MACHINE_TYPE=e2-standard-4
GCP_VM_MACHINE_IMAGE=ubuntu-2004-focal-v20220110
GCP_VM_SSH_USER=project_user
GCP_SSH_PUB_KEY_FILE=~/.ssh/ncaa_d1_baseball_stats.pub

# Postgres
POSTGRES_DBNAME=postgres
POSTGRES_SCHEMA=stats
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

################################## Terraform Variables ##################################

#Google Cloud Resources
TF_VAR_CREDENTIALS=$GCP_CREDENTIALS
TF_VAR_PROJECT_ID=$GCP_PROJECT_ID
TF_VAR_PROJECT_NAME=$GCP_PROJECT_NAME
TF_VAR_REGION=$GCP_REGION
TF_VAR_ZONE=$GCP_ZONE

#GCS and BigQuery Resources
TF_VAR_BUCKET_NAME=$GCS_BUCKET_NAME
TF_VAR_DATASET_STG=$BIQ_QUERY_DATASET_STG
TF_VAR_DATASET_PROD=$BIQ_QUERY_DATASET_PROD

#VM Resource
TF_VAR_VM_NAME=$GCP_VM_NAME
TF_VAR_VM_MACHINE_TYPE=$GCP_VM_MACHINE_TYPE
TF_VAR_VM_MACHINE_IMAGE=$GCP_VM_MACHINE_IMAGE
TF_VAR_VM_SSH_USER=$GCP_VM_SSH_USER
TF_VAR_VM_ZONE=$GCP_ZONE
TF_VAR_SSH_PUB_KEY_FILE=$GCP_SSH_PUB_KEY_FILE
TF_VAR_SERVICE_ACCOUNT_NAME=$GCP_SERVICE_ACCOUNT_NAME
