# Mage Project Name (This must match the folder name of the project containing all mage files)
PROJECT_NAME=mage

# GCP
GCP_CREDENTIALS=credentials/gcp-credentials.json
GCP_PROJECT_ID=ncaa-d1-baseball-stats-project
GCP_PROJECT_NAME=ncaa-d1-baseball-stats-project
GCP_REGION=us-west1
GCP_ZONE=us-west1-a

#GCS
GCS_BUCKET_NAME=ncaa_d1_baseball_stats_bucket

#BigQuery
BIQ_QUERY_DATASET=ncaa_d1_baseball_stats_stg
BIQ_QUERY_TABLE_NAME=2024_ncaa_batting_stats

# Postgres
POSTGRES_DBNAME=postgres
POSTGRES_SCHEMA=stats
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

# Terraform

TF_VAR_GCP_CREDENTIALS=$GCP_CREDENTIALS
TF_VAR_GCP_PROJECT_ID=$GCP_PROJECT_ID
TF_VAR_PROJECT_NAME=$GCP_PROJECT_NAME
TF_VAR_GCP_REGION=$GCP_REGION
TF_VAR_GCP_ZONE=$GCP_ZONE
TF_VAR_GCS_BUCKET_NAME=$GCS_BUCKET_NAME
TF_VAR_BIQ_QUERY_DATASET=$BIQ_QUERY_DATASET